[submodule "core"]
	path = core
	url = git@github.com:AspiroTV/Connect-SDK-iOS-Core.git
[submodule "modules/google-cast"]
	path = modules/google-cast
	url = git@github.com:AspiroTV/Connect-SDK-iOS-Google-Cast.git
[submodule "modules/orange-cast"]
	path = modules/orange-cast
	url = git@github.com:AspiroTV/Connect-SDK-iOS-Orange-Cast.git
