[submodule "modules/google-cast"]
	path = modules/google-cast
	url = https://github.com/AspiroTV/Connect-SDK-iOS-Google-Cast.git
	branch = dev
[submodule "core"]
	path = core
	url = https://github.com/AspiroTV/Connect-SDK-iOS-Core.git
	branch = dev
[submodule "modules/orange-cast"]
	path = modules/orange-cast
	url = git@github.com:AspiroTV/Connect-SDK-iOS-Orange-Cast.git
